<!DOCTYPE html>
<html lang="en" ng-app="databaseApp">
<head>
    <meta charset="UTF-8">
    <title>Employee database</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.17/angular-filter.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-growl-2/0.7.9/angular-growl.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-growl-2/0.7.9/angular-growl.css">

    <script type="text/javascript">
        angular.module('databaseApp', ['angular.filter', 'ui.bootstrap', 'angular-growl'])
            .config(['growlProvider', function (growlProvider) {
                //growlProvider.onlyUniqueMessages(false);
                growlProvider.globalDisableCountDown(true);
                growlProvider.globalPosition('top-center');
            }])
            .service('GrowlService', function (growl) {
                this.showGrowl = function (type, msg, time) {
                    var config = {
                        ttl: 3000
                    };
                    if (!angular.isUndefined(time)) {
                        config.ttl = time;
                    }
                    growl[type](msg, config);
                }
            })
            .service('RestService', function ($http) {
                var baseUrl = '';
                var database = '/database';

                this.getTableName = function () {
                    return $http.get(baseUrl + database + '/table/list');
                };

                this.findQuery = function (query) {
                    return $http.get(baseUrl + database + '/query/' + query);
                };

                this.updateQuery = function (statement) {
                    return $http.post(baseUrl + database + '/execute/update', statement);
                };

                this.deleteQuery = function (statement) {
                    return $http.post(baseUrl + database + '/execute/delete', statement);
                };

                this.insertQuery = function (statement) {
                    return $http.post(baseUrl + database + '/execute/insert', statement);
                };

                this.getUserData = function () {
                    return $http.get('/.auth/me');
                };

                this.logout = function () {
                    return $http.get('/.auth/logout');
                };
            })
            .service('WebSocketService', function ($rootScope) {
                var stompClient = null;

                this.connect = function () {
                    var socket = new SockJS('/websocket/event');
                    stompClient = Stomp.over(socket);

                    stompClient.connect({}, function (frame) {
                        console.log('Connected: ' + frame);
                        stompClient.subscribe('/database/change', function (messageOutput) {
                            var msg = JSON.parse(messageOutput.body);

                            $rootScope.$broadcast('database-changed', msg);

                        });

                    });
                };

                this.disconnect = function () {
                    if (stompClient != null) {
                        stompClient.disconnect();
                    }
                    setConnected(false);
                    console.log("Disconnected");
                };

                this.sendMessage = function (tableName) {
                    stompClient.send("/database/change", {},
                        JSON.stringify({'tableName': tableName}));
                };
            })
            .controller('databaseCtrl', function ($scope, RestService, $uibModal, WebSocketService, GrowlService) {

                $scope.initView = function () {
                    $scope.convertUrl = true;

                    refreshTableName();

                    WebSocketService.connect();

                    $scope.isHttps = location.protocol === 'https:';

                    if ($scope.isHttps) {
                        RestService.getUserData()
                            .then(function (response) {
                                console.log('user data', response);
                                $scope.userData = response.data;
                                for (var i = 0; i < $scope.userData[0]['user_claims'].length; i++) {
                                    console.log('sprawdzam', $scope.userData[0]['user_claims'][i].typ);
                                    if ($scope.userData[0]['user_claims'][i].typ === "name") {
                                        $scope.username = $scope.userData[0]['user_claims'][i].val;
                                    }
                                }
                            }).catch(function (response) {
                            console.log('error with get user data', response);
                        })
                    }
                };

                $scope.logout = function () {
                    RestService.logout()
                        .then(function (response) {
                            console.log('logout', response);
                        }).catch(function (response) {
                        console.log('problem with logout');
                    })
                };

                $scope.$on('$destroy', function () {
                    WebSocketService.disconnect();
                });

                $scope.$on('database-changed', function (ev, message) {
                    console.log('info', message, $scope.tableName);
                    if (message.tableName.toLowerCase() === $scope.tableName.toLowerCase()) {
                        if (isEditMode()) {
                            GrowlService.showGrowl('info', 'There is a change. You got edit mode. Refresh manual.', 5000);
                        } else {
                            $scope.findQuery($scope.searchQuery, true);
                            $scope.$apply();
                        }
                    } else {
                        GrowlService.showGrowl('info', 'There is a change in the table ' + message.tableName, 5000);
                    }
                });

                function isEditMode() {
                    for (var i = 0; i < $scope.resultQuery.length; i++) {
                        if ($scope.resultQuery[i].editMode) {
                            return true;
                        }
                    }
                    return false;
                }

                function refreshTableName() {
                    RestService.getTableName()
                        .then(function (response) {
                            console.log('res', response);
                            $scope.tableMetadata = response.data;
                        }).catch(function (response) {
                        console.log('error', response);
                    })
                }

                $scope.findQuery = function (query, fromDatabaseChange) {
                    if (query.length > 10) {
                        $scope.addMode = false;
                        $scope.newModel = {};
                        $scope.searchQuery = query;

                        $scope.resultQuery = null;
                        $scope.resultError = null;
                        var q = angular.copy(query);

                        if ($scope.convertUrl) {
                            q = encodeURIComponent(q);
                        }

                        RestService.findQuery(q)
                            .then(function (response) {
                                $scope.resultQuery = response.data.results;

                                console.log('cres', $scope.resultQuery);
                                getQueryData(query);

                                if (response.data.results.length > 0) {
                                    $scope.resultQueryColumns = checkColumns(response.data.results[0]);
                                } else {
                                    $scope.resultQueryColumns = getColumnsFromMetadata($scope.tableName);
                                }

                                console.log('col', $scope.resultQueryColumns);

                                if (angular.isUndefined(fromDatabaseChange)) {
                                    GrowlService.showGrowl('success', 'Successful operation');
                                } else {
                                    GrowlService.showGrowl('info', 'Table is refreshed from server changes', 4000);
                                }
                            }).catch(function (response) {
                            console.log('error', response);
                            if (response.status === 400) {
                                $scope.resultError = {
                                    error: 'Error',
                                    status: response.status
                                }
                            } else {
                                $scope.resultError = response.data;
                            }
                            console.log('err', $scope.resultError);
                        })
                    }
                };

                function getColumnsFromMetadata(tableName) {
                    for (var i = 0; i < $scope.tableMetadata.length; i++) {
                        console.log('sprawdzam', $scope.tableMetadata[i].name, tableName)
                        if ($scope.tableMetadata[i].name.toLowerCase() === tableName.toLowerCase()) {
                            var cols = [];
                            for (var j = 0; j < $scope.tableMetadata[i].column.length; j++) {
                                cols.push($scope.tableMetadata[i].column[j].name);
                            }
                            return cols;
                        }
                    }
                }

                function checkColumns(row) {
                    return Object.keys(row);
                }

                function getQueryData(query) {
                    var q = angular.copy(query).replace(/\s/g, '');
                    var finish = q.length;
                    if (q.indexOf('where') !== -1) {
                        finish = q.indexOf('where');
                    }
                    var table = q.substring(q.indexOf('from') + 4, finish);

                    $scope.tableName = table;
                }

                $scope.deleteItem = function (index) {
                    $scope.openDeleteModal($scope.tableName, $scope.resultQuery[index].id, createStatement('delete', index));
                };

                function createStatement(type, index) {
                    var statement = null;

                    statement = statementStartPart(type);

                    statement += $scope.tableName;

                    statement += statementEndPart(type, index);

                    console.log('statement', statement);

                    return statement;
                }

                function statementEndPart(type, index) {
                    var endPart = ' ';
                    switch (type) {
                        case 'delete':
                            endPart += statementWherePart(index);
                            break;
                        case 'edit':
                            endPart += statementSetPart(index);
                            endPart += statementWherePart(index);
                            break;
                        case 'add':
                            endPart += statementColumnPart();
                            endPart += statementValuesPart();
                            break;
                    }

                    return endPart;
                }

                function statementColumnPart() {
                    var columnPart = '(';
                    for (var i = 0; i < $scope.resultQueryColumns.length; i++) {
                        if ($scope.resultQueryColumns[i].toLowerCase() !== 'id') {
                            columnPart += $scope.resultQueryColumns[i];

                            columnPart += i !== ($scope.resultQueryColumns.length - 1) ? ', ' : ') ';
                        }
                    }
                    return columnPart;
                }

                function statementValuesPart() {
                    var valuesPart = 'VALUES (';
                    for (var i = 0; i < $scope.resultQueryColumns.length; i++) {
                        if ($scope.resultQueryColumns[i].toLowerCase() !== 'id') {
                            var value = $scope.newModel[$scope.resultQueryColumns[i]];
                            if (checkIfColumnIsString(i)) {
                                value = createWithMarks(value);
                            } else {
                                value = Number(value);
                            }

                            valuesPart += value;

                            valuesPart += i !== ($scope.resultQueryColumns.length - 1) ? ', ' : ');';
                        }
                    }
                    return valuesPart;
                }

                function createWithMarks(value) {
                    return '\'' + value + '\'';
                }

                function statementSetPart(index) {
                    var setPart = 'SET ';
                    var item = $scope.resultQuery[index].model;
                    for (var i = 0; i < $scope.resultQueryColumns.length; i++) {
                        if ($scope.resultQueryColumns[i].toLowerCase() !== 'id') {
                            var column = $scope.resultQueryColumns[i];

                            column += '=';

                            var value = item[$scope.resultQueryColumns[i]];
                            if (checkIfColumnIsString(i)) {
                                column += createWithMarks(value);
                            } else {
                                column += value;
                            }

                            column += i !== ($scope.resultQueryColumns.length - 1) ? ', ' : ' ';

                            setPart += column;
                        }
                    }
                    return setPart;
                }

                function statementWherePart(index) {
                    var wherePart = 'WHERE ';
                    var item = $scope.resultQuery[index];
                    for (var i = 0; i < $scope.resultQueryColumns.length; i++) {
                        var condition = $scope.resultQueryColumns[i];

                        condition += '=';

                        var value = item[$scope.resultQueryColumns[i]];
                        if (checkIfColumnIsString(i)) {
                            condition += createWithMarks(value);
                        } else {
                            condition += value;
                        }

                        condition += i !== ($scope.resultQueryColumns.length - 1) ? ' AND ' : ';';

                        wherePart += condition;
                    }
                    return wherePart;
                }

                function checkIfColumnIsString(index) {
                    var STRING_CONST = 12;
                    for (var i = 0; i < $scope.tableMetadata.length; i++) {
                        if ($scope.tableMetadata[i].name.toLowerCase() === $scope.tableName.toLowerCase()) {
                            for (var j = 0; j < $scope.tableMetadata[i].column.length; j++) {
                                if ($scope.tableMetadata[i].column[j].name.toLowerCase() === $scope.resultQueryColumns[index].toLowerCase()) {
                                    return $scope.tableMetadata[i].column[j].type === STRING_CONST;
                                }
                            }
                        }
                    }
                    return false;
                }

                function statementStartPart(type) {
                    switch (type) {
                        case 'delete':
                            return 'DELETE FROM ';
                        case 'edit':
                            return 'UPDATE ';
                        case 'add':
                            return 'INSERT INTO ';
                    }
                }

                $scope.editItem = function (index) {
//                    if($scope.resultQuery[index].editMode) {
//                        $scope.resultQuery[index].editMode = false;
//                    } else {
                    $scope.resultQuery[index].editMode = true;
                    $scope.resultQuery[index].model = angular.copy($scope.resultQuery[index]);
//                    }
                };

                $scope.submitEditItem = function (index) {
                    var statement = createStatement('edit', index);

                    RestService.updateQuery(statement)
                        .then(function (response) {
                            console.log('res', response);

                            informAboutChange(response);

                            GrowlService.showGrowl('success', 'Successful operation');
                        }).catch(function (response) {
                        console.log('error', response);
                    });

                    resetEditMode(false, index);
                };

                $scope.discardEditItem = function (index) {
                    resetEditMode(false, index);
                };

                function resetEditMode(isEditMode, index) {
                    $scope.resultQuery[index].editMode = isEditMode;
                    $scope.resultQuery[index].model = {};
                }

                $scope.addItem = function () {
                    resetAddMode(true);
                };

                $scope.submitNewItem = function () {
                    var statement = createStatement('add');

                    RestService.insertQuery(statement)
                        .then(function (response) {
                            console.log('res', response);

                            informAboutChange(response);

                            GrowlService.showGrowl('success', 'Successful operation');
                        }).catch(function (response) {
                        console.log('error', response);
                    });

                    resetAddMode(false);
                };

                function informAboutChange(response) {
                    if (response) {
                        WebSocketService.sendMessage($scope.tableName);
                    }
                }

                $scope.discardNewItem = function () {
                    resetAddMode(false);
                };

                function resetAddMode(isAddMode) {
                    $scope.addMode = isAddMode;
                    $scope.newModel = {};
                }

                $scope.toLower = function (text) {
                    return text.toLowerCase();
                };

                $scope.isIdCol = function (col) {
                    return col.toLowerCase() === 'id';
                };

                $scope.openDeleteModal = function (tableName, id, deleteStatement) {
                    $uibModal.open({
                        size: 'lg',
                        templateUrl: 'deleteModal.html',
                        controller: function ($scope, $uibModalInstance, RestService, GrowlService) {

                            $scope.tableName = tableName;
                            $scope.id = id;

                            $scope.submit = function () {
                                RestService.deleteQuery(deleteStatement)
                                    .then(function (response) {
                                        console.log('res', response);

                                        informAboutChange(response);

                                        GrowlService.showGrowl('success', 'Successful operation');

                                        $uibModalInstance.close();
                                    }).catch(function (response) {
                                    console.log('error', response);

                                    GrowlService.showGrowl('error', 'Error. Something gone wrong.');
                                });

                            };

                            $scope.cancel = function () {
                                $uibModalInstance.dismiss('cancel');
                            };
                        }
                    });
                }
            });

    </script>
    <style type="text/css">
        .isClickable:hover {
            cursor: pointer;
        }

        .tableHeader:hover {
            background: #636940;
            color: white;
        }

        .hoverResultRow:hover {
            background: #9DC5BB !important;
        }
    </style>
</head>
<body ng-controller="databaseCtrl">
<div growl></div>
<!-- GROWL -->

<div class="well"
     style="height: 60px; width: 100vw; position: fixed; top: 0; left: 0;
            z-index: 2; box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);">
    <div style="display: inline-block; float: right;">
        <span data-ng-show="!isHttps">
            Hello, use HTTPS to log by Auth2 :)
        </span>
        <span data-ng-show="isHttps">
            <span data-ng-bind="username"></span>
            <button class="btn btn-primary" data-ng-click="logout()">
                Logout <i class="glyphicon glyphicon-log-out"></i>
            </button>
        </span>
    </div>
</div>
<!-- HEADER MENU -->

<div class="well" style="height: 100vh; width: 300px; position: fixed; top: 0; left: 0; margin-top: 50px; z-index: 1;">
    <div class="panel panel-default" data-ng-init="isCollapsedTables = false">
        <div class="panel-heading isClickable tableHeader"
             data-ng-click="isCollapsedTables = !isCollapsedTables">
            <h3 class="panel-title">Tables in database</h3>
        </div>
        <div class="panel-body" uib-collapse="isCollapsedTables">
            <div data-ng-repeat="table in tableMetadata">
                <button class="btn btn-primary"
                        data-ng-click="findQuery('select * from ' + toLower(table.name))">Show
                </button>
                <span data-ng-bind="table.name" style="font-weight: bold;"></span>
                <ul data-ng-repeat="column in table.column">
                    <li data-ng-bind="column.name"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- LEFT MENU - TABLES -->

<div class="jumbotron"
     style="padding-top: 75px; padding-left: 300px; position: absolute; width: 100%; height: 90%;"
     data-ng-init="initView()">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <span style="font-weight: bold">Select query:</span>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <input type="text"
               id="searchQueryInput"
               class="form-control"
               data-ng-init="searchQuery = 'select * from test_messages'"
               placeholder="select * from Employee"
               data-ng-model="searchQuery"/>
    </div>
    <!-- SELECT INPUT -->

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <button class="btn btn-primary" data-ng-click="findQuery(searchQuery)">Search</button>
        <input type="checkbox" data-ng-model="convertUrl"/>Convert to URI
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-top: 15px;">
        <span style="font-weight: bold">Result:</span>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: 100%; padding: 15px;">
        <div data-ng-show="resultError">
            <span style="font-weight: bold">Error: </span>
            <span data-ng-bind="resultError.error"></span>
            <br/>
            <span style="font-weight: bold">HTTP Status: </span>
            <span data-ng-bind="resultError.status"></span>
            <br/>
            <span data-ng-show="resultError.exception" style="font-weight: bold">Exception: </span>
            <span data-ng-bind="resultError.exception"></span>
            <br/>
            <span data-ng-show="resultError.message" style="font-weight: bold">Message: </span>
            <span data-ng-bind="resultError.message"></span>
            <br/>
        </div>
        <!-- ERROR RESULTS -->

        <div style="text-align: center;">
            <h2><span style="font-weight: bold" data-ng-bind="tableName"></span></h2>
        </div>
        <table class="table table-bordered table-striped"
               style="background: #DDDBCB"
               data-ng-show="resultQuery">
            <tr>
                <th data-ng-repeat="column in resultQueryColumns">
                    <span data-ng-bind="column"></span>
                </th>
                <th>Action</th>
            </tr>
            <tr data-ng-show="resultQuery.length === 0">
                <td colspan="100%">
                    <span>No results</span>
                </td>
            </tr>
            <tr data-ng-repeat="result in resultQuery"
                class="hoverResultRow">
                <td data-ng-repeat="col in resultQueryColumns">
                    <span data-ng-show="!result.editMode ||  isIdCol(col)"
                          data-ng-bind="result[col]"></span>

                    <input class="form-control"
                           data-ng-show="result.editMode && !isIdCol(col)"
                           data-ng-init="result.model[col] = result[col]"
                           data-ng-model="result.model[col]"/>
                </td>
                <td>
                    <button class="btn btn-info"
                            data-ng-show="result.editMode"
                            data-ng-click="submitEditItem($index)">Submit changes
                    </button>
                    <button class="btn btn-warning"
                            data-ng-show="result.editMode"
                            data-ng-click="discardEditItem($index)">Discard changes
                    </button>
                    <button class="btn btn-info"
                            data-ng-show="!result.editMode"
                            data-ng-click="editItem($index)">Edit
                    </button>
                    <button class="btn btn-danger"
                            data-ng-click="deleteItem($index)">Delete
                    </button>
                </td>
            </tr>
            <tr style="background: #FFF;">
                <td colspan="100%"
                    data-ng-show="!addMode">
                    <button class="btn btn-primary"
                            data-ng-click="addItem()">Add
                    </button>
                </td>
                <td data-ng-show="addMode"
                    data-ng-repeat="col in resultQueryColumns">

                    <input class="form-control"
                           data-ng-show="!isIdCol(col)"
                           data-ng-init="newModel[col] = ''"
                           data-ng-model="newModel[col]"/>
                </td>
                <td data-ng-show="addMode">
                    <button class="btn btn-info"
                            data-ng-click="submitNewItem()">Add row
                    </button>
                    <button class="btn btn-warning"
                            data-ng-click="discardNewItem()">Discard row
                    </button>
                </td>
            </tr>
        </table>
        <!-- OK RESULTS -->
    </div>
</div>
</body>
</html>